@{
    ViewBag.Title = "About";
}
<!--Om Jerslev Kro-->
<h2> @Resources.About.h2_1 </h2>

<div class="row-top-About">
    <div class="title">
        <!--Historen om Jerslev Kro-->
        <h3> @Resources.About.h3_1 </h3>
        <div class="col-md-12">
            <p>
                @Resources.About.p_1
                <br />
                @Resources.About.p_2
                <br />
                @Resources.About.p_3
                <br />
                @Resources.About.p_4
                <br />
                @Resources.About.p_5

                <!--Kroen er grundlagt i 1842 i Jerslev tæt på Brønderslev.
                <br />
                Jerslev Kro er en hyggelig gammel kro, i hyggelige omgivelser, der har været kgl. privilegeret.
                <br />
                Stedet emmer af historie og landlig idyl.
                <br />
                Man føler sig dejlig afslappet,
                <br />
                da der er en rolig og hyggelig atmosfære. Hyggelige værelser og naturlige omgivelser, giver fantastiske rammer om et hvert selskab, udflugt eller en hyggelig middag i godt selskab.-->
            </p>
        </div>
    </div>
</div>

<div class="row-bottom-About">
    <div class="col-md-12">
        <p>
            @Resources.About.p_6
            <br />
            @Resources.About.p_7
            <br />
            @Resources.About.p_8
            <br />
            @Resources.About.p_9
            <br />
            @Resources.About.p_10
            <br />
            @Resources.About.p_11
            <br />
            @Resources.About.p_12

            <!--Der er igen liv i den kongeligt privilegerede Jerslev Kro. (Mark's mor og far) har åbnet kroen.
            <br />
            Åbningen blev markeret med en reception for kunder, forretningsforbindelser og andre med tilknytning til kroen.
            <br />
            Der blev udtrykt stor glæde over, at kroen igen er i drift. Kroen har været lukket siden i sommer.
            <br />
            (Mark's mor og far) har krostuen åbent hver dag, mens de endnu ikke har besluttet sig for omfanget af brug af salen. Åbningstiden er længere i weekenden end på hverdage.
            <br />
            Der lejes også værelser ud på kroen. De har været meget benyttet af blandt andet rejsemontører med mere.
            <br />
            Det er første gang (Mark's mor og far) kan kalde sig kroejer.
            <br />
            – Så nu skal de have nye projekter i gang, siger de.-->
        </p>
    </div>
</div>
