@{
    ViewBag.Title = "Home Page";
}

<div class="row-top">
    <div class="messageOfTheDay">
        <!--Mors dag d. 9. Maj-->
        <h1> @Resources.Index.h1_1 </h1>
        <p class="lead">
            @Resources.Index.p_1
            <!--Jerslev kro vil selvfølgelig også fejre vores mødre, derfor tilbyder vi flæskesteg med kartofler, skysauce og chips til ½ pris (65,-)
            til mødrene der bliver inviteret ud, d. 9. Maj fra kl. 17.00 til 20.00, her på kroen.-->
            <br />
            <br />
            @Resources.Index.p_2
            <!--Fra Torsdag d. 6. Maj er der ikke længere krav om
            bordbestilling, dog stadig krav om mundbind
            og gyldig Coronapas.-->
        </p>
    </div>
</div>

<div class="row-bottom">
    <div class="title">
        <!--Kro med traditionel, dansk mad & hygge-->
        <h2> @Resources.Index.h2_1 </h2>
        <div class="col-md-6">
            <p>
                @Resources.Index.p_3
                <!--Hos Jerslev Kro har vi fokus på traditionel, dansk hygge. Søger du et kroophold i Jerslev eller Brønderslev, har vi de perfekte rammer, egen restaurant,
                højt serviceniveau og generelt en stemningsfyldt kro. Skal du holde selskab, overnatte eller måske holde en lille ferie, er du altid velkommen hos os.-->
                <br />
                <br />
                @Resources.Index.p_4
                <!--Som kro kan vi tilbyde masser af forskellige muligheder. Her er både den traditionelle krostue og restaurant, gode overnatningsmuligheder, selskabslokaler og mødefaciliteter.
                Skal du eksempelvis holde julefrokost, er det muligt at gøre hos os, hvor vi sørger for det hele. Og du kan kombinere det med et kroophold, hvor gæsterne kan overnatte.-->
                <br />
                <br />
            </p>
            <!--Kroophold i idylliske omgivelser-->
            <h3> @Resources.Index.h3_1 </h3>
            <p>
                @Resources.Index.p_5
                <!--Vores kro ligger rolige omgivelser i smukke Nordjylland, hvorfor et kroophold hos os er ren balsam for både krop og sind.-->
            </p>
        </div>
        <div class="col-md-6">
            <p>
                @Resources.Index.p_6
                <!--Vi gør en dyd ud af at skabe den velkendte danske hygge, da vi sætter stor pris på alle vore gæster og gerne vil give dem et mindeværdigt ophold.-->
                <br />
                <br />
                @Resources.Index.p_7
                <!--Det er også muligt at bestille mad ud af huset, hvis du skal holde selskab eller nytår et andet sted. Vi laver gerne maden til festen, så du kan koncentrere dig om at være en god vært.-->
                <br />
                <br />
                @Resources.Index.p_8
                <!--Vi byder dig velkommen her på kroen, hvor der altid er et venligt og imødekommende personale, der har fokus på dine ønsker og behov.-->
                <br />
                <br />
            </p>
            <!--Kontakt os for bestilling-->
            <h3> @Resources.Index.h3_2</h3>
            <p>
                @Resources.Index.p_9
                <!--Ønsker du at bestille et kroophold, nytårsmenu, overnatning eller middag i vores kro,
                kan du altid ringe at bestille på telefon 98 83 11 88 eller skrive til os på info@Jerslev-kro.dk-->
            </p>
        </div>
    </div>
</div>